.logoContainer {
  position: relative;
}

.hoverContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  opacity: 0;
  padding: 8px 16px;
  border-radius: 8px;
  border-bottom-left-radius: calc(41% - 25px);
  border-bottom-right-radius: calc(41% - 25px);
  transition: opacity 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 422px;
  height: 271px;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: medium;
  font-family: 'Gmarket Sans TTF', sans-serif;
}

.logoContainer:hover .hoverContent {
  opacity: 0.7;
}